<main>
    <section class="row client">
        <form class="col-md-5">
            <h1 class="T1">Se connecter</h1>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="bouton">SE CONNECTER</button>
                <p class="T2">Mot de passe oublié ?</p>
            </div>
        </form>
        <form class="col-md-5 marge">
            <h1 class="T1">S'inscrire</h1>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nom</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Prénom</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">E-mail*</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Mot de passe*</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Confirmer le mot de passe*</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary" id="bouton">S'INSCRIRE</button>
                <p class="T3">En créant un compte, vous acceptez nos conditions générales et notre politique de
                    confidentialité & cookies.</p>
            </div>
        </form>
    </section>
</main>