<main>
    <section class="forums">
        <article class="article">
            <h2 class="T1">TITRE ARTICLE</h2>
            <p class="T2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus
                tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam.
                Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy
                molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa,
                scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero
                pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio
                eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus
                orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque
                fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                <br>Ut velit mauris, egestas sed, gravida nec, ornare ut, mi. Aenean ut orci vel massa suscipit
                pulvinar. Nulla sollicitudin. Fusce varius, ligula non tempus aliquam, nunc turpis ullamcorper nibh,
                in tempus sapien eros vitae ligula. Pellentesque rhoncus nunc et augue. Integer id felis. Curabitur
                aliquet pellentesque diam. Integer quis metus vitae elit lobortis egestas. Lorem ipsum dolor sit
                amet, consectetuer adipiscing elit. Morbi vel erat non mauris convallis vehicula. Nulla et sapien.
                Integer tortor tellus, aliquam faucibus, convallis id, congue eu, quam. Mauris ullamcorper felis
                vitae erat. Proin feugiat, augue non elementum posuere, metus purus iaculis lectus, et tristique
                ligula justo vitae magna.
            </p>
        </article>
        <article class="profil-sam">
            <img class="img-profil" src="./assets/img/forums/sam.jpg">
        </article>
        <article class="commentaire-sam">
            <h3 class="T3">SAM</h3>
            <p class="T4">Quel kiff grâce a panda-tea j'ai pu retrouver les saveurs de mon enfance.</p>
        </article>
        <article class="profil-soumaya">
            <img class="img-profil" src="./assets/img/forums/soumaya.jpg">
        </article>
        <article class="commentaire-soumaya">
            <h3 class="T3">SOUMAYA</h3>
            <p class="T4">j'ai trop kiffée avec mes dattes Oasis</p>
        </article>
        <article class="profil-stevens">
            <img class="img-profil" src="./assets/img/forums/stevens.jpg">
        </article>
        <article class="commentaire-stevens">
            <h3 class="T3">STEVENS</h3>
            <p class="T4">Thé 2 kalité supèrieur,g guéri mais rumatizme est réussi miEu mendormire. G done 1 note de 5 étoiles </p>
        </article>
        <article class="profil-julien">
            <img class="img-profil" src="./assets/img/forums/julien.jpg">
        </article>
        <article class="commentaire-julien">
            <h3 class="T3">JULIEN</h3>
            <p class="T4">Lorem5000</p>
        </article>
        <article class="profil-gwendoline">
            <img class="img-profil" src="./assets/img/forums/gwendoline.jpg">
        </article>
        <article class="commentaire-gwendoline">
            <h3 class="T3">GWENDOLINE</h3>
            <p class="T4">Produit de qualité livraison rapide je recommande cette boutique !!!</p>
        </article>
    </section>
</main>
