
 <main>

    <!----------------------------------------------------GRID------------------------------------------------------->

    <section class="banniere">
      <article class="image">
        <img class="img-banniere" src="../../assets/img/banniere_contact.PNG" alt="bannière">
      </article>
      <article class="text">
        <h1 class="T0">Nos produits</h1>
        <p class="T4">Livraison gratuite à partir de 49€</p>
      </article>
    </section>

    <!----------------------------------------------------GRID------------------------------------------------------->
    
    <!--1ere ligne-->
    <section class="produits">
        <div class="row align-items-center">
            <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">
                <article class="morning">
                    <img class="img-100" src="../../assets/img/produits/MorningBoost_withlightercomposition_300x.jpg" alt="morning boost">
                    <p class="T1">Morning Boost Detox</p>
                    <p class="T3">Substances nutritives & stimulants naturels</p>
                    <div>
                    <p class="T2">14,99€</p>
                    <input class="bouton" type="button" value="AJOUTER AU PANIER">
                    </div>
                </article>
            </div>
        <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">   
            <article class="night">
                <img class="img-100" src="../../assets/img/produits/NightCleanse_withlightercomposition_300x.jpg" alt="night cleanse">
                <p class="T1">Night Cleanse Detox</p>
                <p class="T3">Infusion digestion facile</p>
                <div>
                <p class="T2">14,99€</p>
                <input class="bouton" type="button" value="AJOUTER AU PANIER">
                </div>
            </article>
        </div>
        <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12"> 
            <article class="sleep">
                <img class="img-100" src="../../assets/img/produits/Sleepwell_withlightercomposition_1_300x.jpg" alt="sleep well">
                <p class="T1">Sleep Well Infusion</p>
                <p class="T3">Dormez mieux et rêvez plus</p>
                <div>
                <p class="T2">14,99€</p>
                <input class="bouton" type="button" value="AJOUTER AU PANIER">
                </div>
            </article>
        </div> 
        <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">     
            <article class="fresh">
                <img class="img-100" src="../../assets/img/produits/FreshSkin_withlightercomposition_300x.jpg" alt="fresh skin">
                <p class="T1">Fresh Skin</p>
                <p class="T3">Le plein d'anti-oxydants pour votre peau</p>
                <div>
                <p class="T2">14,99€</p>
                <input class="bouton" type="button" value="AJOUTER AU PANIER">
                </div>
            </article>
        </div>    
    </div>

<!--fin de 1ère ligne-->

<!-- de 2ème ligne-->
<div class="row align-items-center">
    <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">
        <article class="libertea">
            <img class="img-100" src="../../assets/img/produits/libertea_300x.jpg" alt="libertea">
            <p class="T1">Libertea</p>
            <p class="T3">Dites adieu à la rétention d'eau</p>
            <div>
            <p class="T2">14,99€</p>
            <input class="bouton" type="button" value="AJOUTER AU PANIER">
            </div>
        </article>
    </div>
    <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">  
        <article class="habibtea">
            <img class="img-100" src="../../assets/img/produits/Habitea_withlightercomposition_300x.jpg" alt="habibtea">
            <p class="T1">Habibtea</p>
            <p class="T3">Mélange oriental pour bien digérer</p>
            <div>
            <p class="T2">14,99€</p>
            <input class="bouton" type="button" value="AJOUTER AU PANIER">
            </div>
        </article>
    </div>
    <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12"> 
        <article class="green">
            <img class="img-100" src="../../assets/img/produits/GreenEnergy_withlightercomposition_300x.jpg" alt="green energy">
            <p class="T1">Green Energy</p>
            <p class="T3">Le mélange énergisant</p>
            <div>
            <p class="T2">14,99€</p>
            <input class="bouton" type="button" value="AJOUTER AU PANIER">
            </div>
        </article>
    </div>
    <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">
        <article class="choco">
            <img class="img-100" src="../../assets/img/produits/Chocozen_withlightercomposition_300x.jpg" alt="choco zen">
            <p class="T1">Chocko Zen</p>
            <p class="T3">Plaisir chocolaté à 0 calorie</p>
            <div>
            <p class="T2">14,99€</p>
            <input class="bouton" type="button" value="AJOUTER AU PANIER">
            </div>
        </article>
     </div> 
 <!--fin de 2ème ligne-->    
  
 <!--3ème ligne--> 
    <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">
        <article class="bamboo">
            <img class="img-100" src="../../assets/img/produits/Bamboo-thermos_300x.jpg" alt="bamboo thermos">
            <p class="T1">Bamboo Thermos</p>
            <p class="T3">En bamboo naturel</p>
            <div>
            <p class="T2">29,90€</p>
            <input class="bouton" type="button" value="AJOUTER AU PANIER">
            </div>
        </article>
    </div>
    <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">  
        <article class="infuser">
            <img class="img-100" src="../../assets/img/produits/glassinfuser_300x.jpg" alt="infuser">
            <p class="T1">Infuser</p>
            <p class="T3">Double paroi protectrice</p>
            <div>
            <p class="T2">29,90€</p>
            <input class="bouton" type="button" value="AJOUTER AU PANIER">
            </div>
        </article>
    </div>
    <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">       
        <article class="bottle-verte">
            <img class="img-100" src="../../assets/img/produits/urbanbottle-mint_300x.jpg" alt="bottle verte">
            <p class="T1">Urban bottle - Vert menthe</p>
            <p class="T3">Dites non au plastique</p>
            <div>
            <p class="T2">29,99€</p>
            <input class="bouton" type="button" value="AJOUTER AU PANIER">
            </div>
        </article>
    </div>
    <div class="col-md-6 col-lg-3 col-xs-12 col-sm-12">     
        <article class="bottle-violet">
            <img class="img-100" src="../../assets/img/produits/urbanbottle-purple_300x.jpg" alt="bottle violet">
            <p class="T1">Urban bottle - Violet</p>
            <p class="T3">Dites non au plastique</p>
            <div>
            <p class="T2">29,99€</p>
            <input class="bouton" type="button" value="AJOUTER AU PANIER">
            </div>
       </article>
<!--3ème ligne-->   
        </div>  
      </div>
</section>
</main>


<!--------------------------------------------------------------------------------------------------------------->
